/* You can add global styles to this file, and also import other style files */
.example {
overflow-y: scroll; /* Add the ability to scroll */
padding:10px;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



.content{
position:fixed;
top:100%;
left:102%;
width:70px;
height:70px;
margin-left:-100px;
margin-top:-100px;
}

.form-popup {
height: 460px;
width: 400px;
display:none;
position:fixed;
z-index: 3;
left:30px;
right:30px;
opacity: 0.9;
background: black;
}
.Tableh{


display:none;

z-index: 3;
left:30px;
right:30px;
opacity: 0.9;

margin-bottom: 40px;

}


.navbar-header {
float: right;
padding-left: 50px;
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar-brand {
float:none;
font-size: 50px;
}

.dustbin :hover{
width: 40px;
height: 40px;
background: lightgray;
border-radius: 50%;
}

.open-button {
background-color: #555;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
opacity: 0.8;
position: fixed;
bottom: 23px;
right: 30px;
width: 280px;
}  
      
.form-container {
width: 900px;
padding-left: 70px;
padding-right: 100px;
padding-top: 10px;
}  